body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/bodybg.gif') repeat;
}

.container {
    width: 70%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.banner {
    width: 100%;
    height: auto;
    background-image: url(/JavaScript-practice/Few-adv-practice-projects/images/banner.jpg);
    display: flex;
    background-size: cover;
    background-position: center;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
}

.form-container h2 {
    margin-top: 0;
    background-color: #ccc;
}

.form-subcontainer{
    padding-right: 20px;  
    border: 1px solid #555;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

label {
    margin-top: 10px;
    text-align: right;
    align-self: center;
    font-size: 14px;
    color: #333;
}

input, select, textarea {
    padding: 5px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input#salutation, input#age, input#height, input#weight, input#bmi, select#salutation {
    width: auto;
    max-width: 75px;
}

textarea {
    resize: none;
    height: 80px;
    grid-column: 2 / 3;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    justify-self: center;
    grid-column: 1/3;
}