body {
    font-family: Arial, sans-serif;
    background-color: #8fc04e;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #e0f0af;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

fieldset {
    border: 2px solid #a2a2a2;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.card-types {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-types label {
    display: flex;
    align-items: center;
}

.card-types img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #4b4b4b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #333;
}
